.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #204888;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.cardstock {
    box-shadow: 6px 5px 8px 1px #dddddd;
    min-height: 120px;
    min-width: 240px;
    /*margin: 10px;*/
}

#ei-icon {
    width: 36px;
    margin: 7px;
    grid-column-start: 1;
}


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        display: grid;
        grid-template-columns: 50px auto 50px;
        /*float: none;*/
    }
    .main-nav .navbar-collapse {
        /*border-top: 1px solid #444;*/
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 0px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .rate-control svg {
        pointer-events: none;
        height: 100%;
    }

        .rate-control svg path {
            fill: none;
            stroke-width: 30px;
            stroke: #0080FF;
        }

    .rate-control {
        margin: 10px;
        width: 200px;
        height: 200px;
        position: relative;
    }

        .rate-control p {
            margin: 10px;
            position: absolute;
            top: 35%;
            left: 0;
            width: 100%;
            text-align: center;
            font-size: 2em;
            font-family: sans-serif;
            font-weight: bold;
        }

        .rate-control span {
            display: block;
            font-size: 0.5em;
        }

    .green svg path {
        stroke: #80dd80;
    }

    .yellow svg path {
        stroke: #FFFF80;
    }

    .orange svg path {
        stroke: #FF8040;
    }

    .red svg path {
        stroke: #DC0A0A;
    }
}
